* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outer-hero-container {
  background: linear-gradient(to right, #f8f8fd, #fff7f7);
}

.hero-left {
  width: 55%;
}

.badge {
  display: inline-block;
  padding: 10px 18px;
  background: #e8fff1;
  color: #0f9d58;
  border-radius: 25px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 600;
}

.hero-title {
  font-size: 52px;
  line-height: 1;
  font-weight: 900;
  color: #09091a;
}

.hero-title span {
  color: #2b50ff;
}

.hero-subtitle {
  margin-top: 30px;
  color: #666;
  font-size: 22px;
  line-height: 1.8;
  max-width: 650px;
}

.search-box {
  margin-top: 40px;
  background: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.search-btn {
  padding: 5px 30px !important;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.find-btn {
  background: #ff6333 !important;
}

.post-btn {
  border-color: #2b50ff !important;
  color: #2b50ff !important;
}

.stats {
  display: flex;
  gap: 60px;
  margin-top: 50px;
}

.stats h2 {
  font-size: 42px;
  color: #09091a;
}

.stats p {
  color: #777;
}

.hero-right {
  width: 38%;
}

.jobs-card {
  border-radius: 30px !important;
  padding-right: 10px;
}

.hot-title {
  font-size: 26px !important;
  font-weight: 700 !important;
  margin-bottom: 25px !important;
}

.job-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7f7fb;
  border-radius: 18px;
  padding: 10px;
  margin-bottom: 20px;
}

.job-logo {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background: #eef2ff;
  color: #2b50ff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-info {
  flex: 1;
  margin-left: 20px;
}

.job-info h4 {
  margin-bottom: 6px;
}

.job-info p {
  color: #777;
  font-size: 14px;
}

@media (max-width: 992px) {
  .hero-container {
    flex-direction: column;
    padding: 40px 20px;
  }

  .hero-left {
    width: 100%;
    text-align: center;
  }

  .hero-subtitle {
    margin: 20px auto 0;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-right {
    width: 100%;
    margin-top: 40px;
  }

  .hero-title {
    font-size: 50px;
  }

  .search-box {
    flex-direction: column;
    max-width: 500px;
    margin: 40px auto 0;
  }

  .stats {
    gap: 30px;
    justify-content: center;
  }

  .hero-buttons {
    justify-content: center;
  }
}
/* Featured Jobs CSS */

.job-card {
  border-radius: 8px !important;
  box-shadow: none !important;
  border: 1px solid #ececec;
  background: #ffffff;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 26px;
}

.logo-box {
  width: 80px;
  height: 80px;
  border-radius: 18px;
  background: #f2f4ff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.urgent-chip {
  background: #fff1ec !important;
  color: #ff6b4a !important;
  font-weight: 600 !important;
  border-radius: 999px !important;
}

.job-title {
  font-size: 40px;
  font-weight: 700 !important;
  color: #111827;
  line-height: 1.1;
  margin-bottom: 4px !important;
}

.company-text {
  color: #6b7280;
  font-size: 18px !important;
  margin-bottom: 8px !important;
}

.tags {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.tag-chip {
  background: #f3f4f6 !important;
  color: #4b5563 !important;
  border-radius: 999px !important;
  font-weight: 600 !important;
  padding: 4px 6px;
}

.tag-chip.active {
  background: #eef2ff !important;
  color: #3559ff !important;
}

.divider {
  height: 1px;
  background: #e5e7eb;
  margin-bottom: 8px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salary {
  font-size: 17px !important;
  font-weight: 700 !important;
  color: #111827;
}

.posted-text {
  color: #6b7280;
  font-size: 13px !important;
  margin-top: 4px !important;
}

.featured-jobs-container {
  margin-top: 80px;
  margin-bottom: 80px;
}